body{
    background-color: black;
}

p{
    color: white;
    font-size:20px;
    text-align: center;
}

.container{
    color: white;
    padding: 10px;
    font-family: sans-serif;
}

.i1{
    max-width: 500px;
    width: 100%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1{
    color: white;
    text-align: center;
}
